//Font Family
$ff: 'Montserrat', sans-serif;

//Font Weight
$fw-ligth: 300;
$fw-regular: 400;
$fw-semibold: 600;
$fw-bold: 700;

//Font Size
$fs-lg: 3.75rem; //60px
$fs-xxmed: 2.5rem; //40px
$fs-xmed: 1.6rem; //28px
$fs-med: 1.375rem; //22px
$fs-sm: 1rem; //16px
$fs-xsm: 0.938rem; //15px
$fs-xxsm: 0.75rem; //12px

//colors
$clr-white: rgba(255, 255, 255, 1);
$clr-blue: rgba(0, 122, 255, 1);
$clr-dark-blue: rgba(5, 61, 117, 1);
$clr-cian: rgba(0, 152, 177, 1);

//colors cards
$clr-blue: #007AFF;
$clr-yellow: #EED202;
$clr-orange: #FFA500;
$clr-red: #FF0000;
$clr-dark-red: #BE0032;
$clr-very-dark-red: #A50021;
